# ignore all files in bin folder etc
bin/
Mercury.Core/bin/
Mercury.Core/obj/
Mercury.Verifier/bin/
Mercury.Verifier/obj/
Mercury.Entry/bin/
Mercury.Entry/obj/

# ignore swap files
*.swp
*.*~

# ignore reports
*.psess
*.vsp
